*{
    
    font-family:"Titillium Web", serif;
}
body{
    
}

nav{
    font-family: "Titillium Web", serif;
    height: 60px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(41, 41, 41); 
    color: white;
    box-shadow: 2px 2px 9px rgba(9, 30, 66, 0.15);
    opacity: 1;
    z-index: 10000;

}
a{
    margin-left: 30px;
    position: relative; 
    color: white; 
    text-decoration: none;
    padding-bottom: 5px;

}
a:hover{
    color: rgb(212, 177, 112);
}

a::before,
a::after {
    content: '';
    position: absolute;
    height: 1px;
    bottom: 0px;
    width: 0%; 
    background: #fff;
    transition: all 0.4s ease-in-out;
}


a::before {
    left: 50%;
    transform: translateX(-50%);
}

a::after {
    right: 50%;
    transform: translateX(50%);
}


a:hover::before,
a:hover::after {
    width: 100%; 
}

/* Retract back on hover out */
a:not(:hover)::before,
a:not(:hover)::after {
    width: 0%;
}

.left{
    flex: 2;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 13px;
}

.left::before, .left::after{
    display: table;
    content: ' ';
    flex-basis: 0;
    order: 1;
}

.left::after{
    clear: both;
}

.middle{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 60px;
    width: 100px;
    margin-top: -12px;
}

.right{
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 42px;
    list-style: none;

}

