@media (max-width: 480px) {
    
    body{
        width:100%;
    }
    .left{
        display: none;
    }
    .right{
        display: none;
    }

    .middle{
        display: flex;
        justify-content: left;
        margin-left: 10px;
        
    }
    
    .logo{
        height: 50px;
        width: 80px;
        display: flex;
        align-items: center;
    }
    nav{
        width: 480px;
        height: 60px;
    }
/* ----------------------------------------- */

    .main-1{
        width: 100%;
        height: 300px;
        margin-top: 100px;
        background: url(image/main-1-respon.webp);
        background-size:contain;
        background-repeat: no-repeat;
    }

    .motorz{
        padding-left: 30px;
        padding-top: 0px;
        padding-bottom: 1px;
        height: 35px;
        
    }
    
    .learn-more{
        /* margin-top: 64px; */
        margin-left: 57px;
        font-size: 10px;
        padding: 4px 6px;
    }
    /* ------------------------------------ */

    .main-2{
        display: none;
    } 
    
    
    .main-3, .main-4, .main-5, .main-6, footer{
        display: none;
    }
}