@media (max-width: 480px) {
    
    body{
        width:100%;
    }
    .left{
        display: none;
    }
    .right{
        display: none;
    }

    .middle{
        display: flex;
        justify-content: left;
        margin-left: 10px;
        
    }
    
    .logo{
        height: 50px;
        width: 80px;
        display: flex;
        align-items: center;
    }
    nav{
        width: 480px;
        height: 60px;
    }
/* ----------------------------------------- */

    .main-1{
        width: 100%;
        height: 268px;
        margin-top: 60px;
        background: linear-gradient(to bottom right, rgba(128, 127, 127, 0.466), rgba(211, 211, 211, 0)), url('image/main-1-respon.webp');
        background-size: cover; 
        background-repeat: no-repeat;
    }

    .motorz{
        padding-left: 20px;
        padding-top: 25px;
        padding-bottom: 1px;
        height: 35px;
        
    }
    
    .learn-more{
        /* margin-top: 64px; */
        margin-left: 48px;
        font-size: 10px;
        padding: 4px 6px;
    }
    /* ------------------------------------ */

    .main-2{
        padding-top: 10px;
        height: 900px;
    }
    
    .main-2 h1{
        font-weight: lighter;
        margin-bottom: 0px;
    }

    .grid-box-cars{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: 10px;
        /* column-gap: 10px; */
        margin-left: 20px;
        margin-left: 0px;
        margin-bottom: 50px;
    }
    
    .grid-box-car{
        align-items: center;
        width: 350px;
        height: 200px;
    }

    .car-3{
        margin-top: 30px;
    }

    .grid-box-car img{
        width: 80%;
        
        
    }

    .vehicle-name{
        font-size: 12px;
        padding: 7px 45px;
        margin-bottom: 20px;
    }
    
    .car-4, .car-5, .car-6{
        display: none;
    }

    .main-3, .main-4, .main-5, .main-6, footer{
        display: none;
    }
}